/* custom.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Basic page style resets */

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
}


html {
    scroll-behavior: smooth;
  }


::-moz-selection { background: var(--green-50); }
::selection { background: var(--green-50); }

/* colours */


:root {
    --main-color:#404040;
    --main-rgb:64,64,64;
    /*  */
    --white: #ffffff;
    --white-rgb: 255,255,255;
    --not-white: #fafafa;
    --blackblack: #000000;
    --text-col:#111111;
    --black-rgb: 0,0,0;
    /*  */
    --grey: #E5E5E5;
    --grey-rgb: 229,229,229;
    
}

/*  =======================================
BASICS
=================================== */

body, main {width: 100%;}

body {
    background-color: var(--grey);
    padding-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, .header_wrap, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
header, .header_wrap{
    height: 10vw;
}
@media screen and (max-width: 580px) {
    header, .header_wrap{
        height: 20vw;
    }
}

header a {
    text-align: center;
}

.logo_link svg {
    width: 20%;
    width:179px;
    height: 30px;
}

.fade {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.logo_link:hover svg path {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
} 

.logo_link:hover svg path {
    fill:var(--blackblack);
} 

section {}

#shout {
    width:66vw;
} 
@media screen and (max-width: 80em) {
    #shout {
        width:80vw;
        max-width: 1000px;
    }
}
@media screen and (max-width: 48em) {
    #shout {
        width:90vw;
    }
}

.shout_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #ffffff;
}
@media screen and (max-width: 580px) {
    .shout_wrap {
        flex-direction: column;
    }
}


.img_wrap,
[class*="img_wrap"] {
    /* min-width: 100%; */
    width: calc(100vw / 3);
}
@media screen and (max-width: 80em) {
    [class*="img_wrap"] {
        width:45vw;
    }
}
@media screen and (max-width: 48em) {
    [class*="img_wrap"] {
        width:unset;
    }
}

[class*="_img"] {
    width: 100%;
    /* height: 60vh; */
    object-fit: cover; 
}
@media screen and (max-width: 80em) {
    [class*="_img"] {
        height: 50vw;
    }
}
@media screen and (max-width: 580px) {
    [class*="_img"] {
        width: 90vw;
        height: 50vw;
    }
}

.img_wrap_col {
    width: calc(100vw / 3);
}

h1, h2, h3, a, form div {
    color: var(--main-color);
}

a {
    text-decoration: none;
}
a:hover {
    color:#000000;
}

h1 {
    font-size: 36px;
    font-size: min(max(20px, 1.875vw), 36px);
    line-height: 1.2;
}

.text_col {
    /* background-color: #ffffff;*/
    padding: 3.5%;
    /* height: 66vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.text_col:first-of-type {
    padding-right: 8%;
}
@media screen and (max-width: 580px) {
    .text_col {
        width: unset;
        padding: 5%;
    }
}

.text_col h1 {
    text-align: left;
}
.text_col:last-of-type h1 {
    text-align: right;
}
@media screen and (max-width: 580px) {
    .text_col h1,
    .text_col:last-of-type h1 {
        text-align: center;
        padding: 0;
    }
}

h2 {
    font-size: 24px;
    font-size: min(max(20px, 1.25vw), 24px);
}
h3, a {
    font-size: 14px;
    font-size: min(max(14px, 0.83vw), 16px);
    margin-bottom: 0;
}

.footer_wrap {
    text-align: center;
}

/* #form, form,  */
.form {
    max-width: 420px;
    margin-top: 2rem;;
}

@media screen and (max-width: 48em) {
    #form, form, .form {
        display: block;
        max-width: unset !important;
        width:100%;
    }
}

.form_row,
.mc-field-group {
    /* position: relative; */
    margin-bottom: 1rem;
}

form div {
    font-weight: 400;
}

/* form, form label{
    font-weight: 400;
    font-size: 0.8rem;
} */

/* input[type="email"] {
    padding: 0.25rem;
} */

/****  floating-Lable style start ****/

.mc-field-group { 
    position:relative; 
    margin-bottom:20px;
    min-width: 250PX; 
  }

#mc_embed_signup_scroll {
    display: flex;
    gap: 10px;
}  
@media screen and (max-width: 580px) {
    #mc_embed_signup_scroll {
        flex-direction: column;
    }
}


input[type="email"] {
    font-size:14px;
    padding:4px 4px;
    display:block;
    width:100%;
    height:30px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid rgba(var(--main-rgb), 0.8);
}

input[type="email"]:focus {
    outline:none;
    border-bottom:2px solid rgba(var(--main-rgb), 1.0); 
}

label {
    color:rgba(var(--main-rgb), 0.8); 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

input[type="email"]:focus ~ label, input[type="email"]:not(:placeholder-shown) ~ label {
    top:-18px;
    font-size:14px;
    color:rgba(var(--main-rgb), 1.0);
}
  /*  */

.button {   
    position: relative;
    z-index: 1;
    margin: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 4px 28px;
    border-radius: 5px;
    background: rgba(var(--main-rgb), 0.0);
    color:rgba(var(--main-rgb), 1.0);
    border-color: rgba(var(--main-rgb), 1.0);
    border-style: solid;
    border-width: 1px;
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 0.8rem;
    /* line-height: 1.5; */
    line-height: 1.8;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover {   
    background: rgba(var(--main-rgb), 1.0);
    color:#fff;
    border-color: rgba(var(--main-rgb), 1.0);
}

/*  */

/**
 * Errors
 */
 .error {
	border-color: red;
}

.error-message {
	color: red;
	/* font-style: italic; */
	margin-top: 0.25em;
	margin-bottom: 1em;
    text-align: left;
    font-size: 0.8rem;
}

.success-message {
  color: green;
  /* font-style: italic; */
  margin-bottom: 1em;
}

.mc-status:focus {
    outline: none;
}