/* custom.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* Basic page style resets */

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
}


html {
    scroll-behavior: smooth;
  }


::-moz-selection { background: rgba(var(--white-rgb), 0.1); }
::selection { background: rgba(var(--white-rgb), 0.1); }

/* colours */


:root {
    --main-color:#404040;
    --main-rgb:64,64,64;
    /*  */
    --white: #ffffff;
    --white-rgb: 255,255,255;
    --not-white: #fafafa;
    --blackblack: #000000;
    --text-col:#111111;
    --black-rgb: 0,0,0;
    /*  */
    --grey: #E5E5E5;
    --grey-rgb: 229,229,229;
    /*  */
    --error-msg: #ffe984
    
}

/*  =======================================
BASICS
=================================== */

body, main {width: 100%;}

body {
    /* background-color: var(--grey); */
    /* padding-bottom: 2rem; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header, .header_wrap, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
header, footer {
    position: absolute;
    z-index: 111;
}
footer {
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0));
}
@media screen and (max-width: 580px) {
    footer {
        /* position: relative; */
        height: 35vh;
        background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0));
    }
}

header{
    height: 10vw;
    width: 100vw;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.4),rgba(0,0,0,0));
}
@media screen and (max-width: 580px) {
    header, .header_wrap{
        height: 20vw;
        /* background-color: var(--main-color); */
    }
}

header a {
    text-align: center;
}

.logo_link svg {
    /* width: 20%; */
    width: 179px;
    height: 30px;
}

.fade {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.logo_link svg path {
    fill:rgba(var(--white-rgb), 1.0);
} 
.logo_link:hover svg path {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.logo_link:hover svg path {
    fill:rgba(var(--white-rgb), 0.5);
} 

section {}

#shout {
    width:100vw;
    height: 100vh;
    background-image: url("../img/pssbl_hero_full.jpg");
    background-size: cover;
    background-position: center center;
} 
@media screen and (max-width: 80em) {
    #shout {
        
    }
}
@media screen and (max-width: 48em) {
    #shout {
    }
}

.shout_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* background-color: #ffffff; */
}
@media screen and (max-width: 580px) {
    .shout_wrap {
        /* flex-direction: column; */
    }
}



h1, h2, h3, a, form div {
    /* color: var(--white); */
}


a {
    text-decoration: none;
}
a:hover {
    color:#000000;
}

h1 {
    font-size: 28px;
    font-size: min(max(20px, 1.458vw), 28px);
    line-height: 1.2;
    font-weight: unset;
}
.four {font-weight: 40;}
.five {font-weight: 500;}
.seven {font-weight: 700;}
.nine {font-weight: 900;}

.text_col {
    /* background-color: #ffffff;*/
    padding: 6.5%;
    /* height: 66vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.text_col:first-of-type {
    /* padding-right: 10%; */
    align-items: flex-start;
}
.text_col:last-of-type {
    /* padding-left: 10%; */
    align-items: flex-end;
    height: 100%;
    background-image: linear-gradient(-90deg,rgba(255,255,255,0.6),rgba(255,255,255,0));
}
@media screen and (max-width: 750px) {
    .text_col {
        width: 50%;
    }
    .text_col:last-of-type {
        background-image: linear-gradient(-90deg,rgba(255,255,255,0.8),rgba(255,255,255,0));
    }
}

@media screen and (max-width: 580px) {
    .text_col {
        width: 50%;
        padding: 5%;
    }
    .text_col:first-of-type {
        /* margin-top: 10vh */
    }
    .text_col:last-of-type {
        /* background-image: linear-gradient(-90deg,rgba(255,255,255,0.8),rgba(255,255,255,0)); */
    }
}

.text_col h1 {
    text-align: left;
    color: rgba(var(--white-rgb),0.8);
}
.text_col:last-of-type h1 {
    text-align: right;
    color: rgb(var(--main-rgb), 0.8);
}
@media screen and (max-width: 580px) {
    .text_col h1,
    .text_col:last-of-type h1 {
        /* text-align: center; */
        padding: 0;
        /* color: var(--white); */
    }
}

h2 {
    font-size: 20px;
    font-size: min(max(14px, 1.04vw), 20px);
    color: rgba(var(--white-rgb),0.8);

}
h3, a {
    font-size: 13px;
    font-size: min(max(13px, 0.83vw), 13px);
    margin-bottom: 0;
}

.footer_wrap {
    text-align: center;
    color: rgba(var(--white-rgb), 1.0);
}

/* #form, form,  */
.form {
    max-width: 420px;
    margin-top: 2rem;;
}

@media screen and (max-width: 48em) {
    #form, form, .form {
        display: block;
        max-width: unset !important;
        width:100%;
    }
}

.form_row,
.mc-field-group {
    /* position: relative; */
    margin-bottom: 1rem;
}
@media screen and (max-width: 580px) {
    .form_row,
    .mc-field-group {
        margin-bottom: 0;
    }
}
form div {
    font-weight: 400;
}

/* form, form label{
    font-weight: 400;
    font-size: 0.8rem;
} */

/* input[type="email"] {
    padding: 0.25rem;
} */

/****  floating-Lable style start ****/

.mc-field-group { 
    position:relative; 
    margin-bottom:20px;
    min-width: 250PX; 
}
@media screen and (max-width: 580px) {
    .mc-field-group {
        margin-bottom: 0;
        min-height: 56px;
    }
}

#mc_embed_signup_scroll {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 85px;
}  
@media screen and (max-width: 580px) {
    #mc_embed_signup_scroll {
        flex-direction: column;
        gap:0;
    }
}

#mc_embed_signup_scroll .button_wrap {
    
}
#mc_embed_signup_scroll .button_wrap:hover {

}

input[type="email"] {
    font-size:12px;
    padding:4px 4px;
    display:block;
    width:100%;
    height:30px;
    background-color: rgba(var(--white-rgb), 0.1);
    color:rgba(var(--white-rgb), 1.0); 
    border:none;
    border-bottom:1px solid rgba(var(--white-rgb), 0.3);
}
@media screen and (max-width: 580px) {
    input[type="email"] {
    text-align: center;    }
}

input[type="email"]:hover {
    border-bottom:2px solid rgba(var(--white-rgb), 0.8); 
    background-color: rgba(var(--main-rgb), 0.3);

}
input[type="email"]:focus {
    outline:none;
    border-bottom:2px solid rgba(var(--white-rgb), 1.0); 
    background-color: rgba(var(--main-rgb), 0.3);
}

label {
    color:rgba(var(--white-rgb), 0.8); 
    font-size:12px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
@media screen and (max-width: 580px) {
    label {
        left: calc( 250px * .5);
        /* top: 50%; */
        transform: translateX(-50%);
    }
}

input[type="email"]:focus ~ label, 
input[type="email"]:not(:placeholder-shown) ~ label {
    top:-18px;
    font-size:10px;
    color:rgba(var(--white-rgb), 1.0);
}
  /*  */

.button {   
    position: relative;
    z-index: 1;
    margin: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 4px 28px;
    /* border-radius: 5px; */
    background: rgba(var(--white-rgb), 0.0);
    color:rgba(var(--white-rgb), 0.7);
    border-color: rgba(var(--white-rgb), 0.35);
    border-style: solid;
    border-width: 1px;
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 0.8rem;
    /* line-height: 1.5; */
    line-height: 1.8;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover {   
    background: rgba(var(--white-rgb), 1.0);
    color: rgba(var(--main-rgb), 1.0);
    border-color: rgba(var(--white-rgb), 1.0);
}

.button:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #fff;
}

/*  */

/**
 * Errors
 */
 .error {
	border-color: var(--error-msg);
}

.error-message {
	color: var(--error-msg);;
	/* font-style: italic; */
	margin-top: 0.25em;
	margin-bottom: 1em;
    text-align: left;
    font-size: 0.6rem;
}
@media screen and (max-width: 580px) {
    .error-message {
        text-align: center;
    }
}


.mc-status a {
    font-size: 0.6rem;
    text-decoration: solid;
    color: var(--error-msg);
}

.success-message {
    background-color: rgba(var(--white-rgb),0.8);
    color:rgb(var(--main-rgb), 0.8);
    font-size: 0.6rem;
    padding: 0.25em 0.5em ;
    text-align: left;
    /* margin-bottom: 1em; */
}

.mc-status:focus {
    outline: none;
}
